body{
    background-color: rgba(0, 0, 0, 0.666);
    color: blanchedalmond;
    margin: 0;
    padding: 0;
}

.registForm {
    background-color: lightcoral;
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    border-radius: 50px;
}


.registForm input[type="email"], .registForm input[type="password"]{
    background-color:rgba(128, 128, 128, 0.476);
    border: 0;
    display: block;
    margin: 20px auto;
    text-align:center;
    border: 2px solid lightyellow;
    padding: 14px 10px;
    border-radius: 24px;
    transition: .25s;
}

.registForm input[type="email"]:hover,.registForm input[type="password"]:hover{
    width: 300px;
    border-color: lightgreen;
    background-color: lightpink;
}

.registForm input[type="button"] {
    border: 0;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    text-align: center;
    border: 2px solid lightyellow;
    padding: 14px 10px;
    border-radius: 24px;
    transition: .5s;
    width: 150px;
    background-color:rgba(128, 128, 128, 0.476);
}

.registForm input[type="button"]:hover{
    background-color: lightpink;
}

#cancelReg:hover {
    background-color:rgb(255, 119, 119) ;
    border-color: rgba(231, 56, 56, 0.605);
}
#cancelReg:active {
    background-color:red ;
}