html
    head

        style
            include ../public/login.css

        script
            include ../public/login.js

        title Login
        body
            form.loginForm(method="post")
                h1 Login
                input#email(type="email" placeholder="Enter Email")
                input#password(minLength = 7 type="password" placeholder="Enter Password")
                input#submitLogin(type="button" value="Login")
                input#submitCancel(type="button" value="X")