html
    head

        script
            include ../public/home-static/login.js

        title Login
        body
            h1 Login
            label Enter Email:
            input#email(type="email" placeholder="Enter Email")
            label Enter Passord:
            input#password(minLenght = 7 type="password" placeholder="Enter Password")
            button#submitLogin Submit