html
    title Add a New Movie to DB
    
    //- style 
    //-     include ../public/home-static/home.css 

    style.
        body {
            background-color:black;
            color:white;
            text-align: center;
            justifiy-content: center;
        }

        #newMovieForm {
            margin-left:25%;
            margin-right:25%;
            margin-top:2.5%;
            background-color:#333;
            display:flex;
            flex-direction: column;

        }

        input {
            text-align: center;
            color:lightpink;
            background-color:#222;
            border: ;
            font-size:large;
        
            margin-bottom:1%;
            margin-top:1%;
            margin-left:5%;
            margin-right:5%;
        }

    script
        include ../public/home-static/new-movie.js
    

    body
        form#newMovieForm
            input(placeholder="Enter a Movie Title", name=`title`)
            input(placeholder="Enter Release Date",name="release",type="number",min="1900",max=new Date().getFullYear() + 1)
            input(placeholder="Wiki Link",name="link",type="url")
            input(placeholder="Wiki IMG Link",name="img",type="url")
            input(placeholder="Enter Movie Quantity", name="inventory",type="number",min=0)

        button#submitMovie Submit a New Movie to DB

