html
    head
        script
            //- include
        style
            //- include

        title =  `${proUsername}'s Profile`
        
    body
        h2 Renting Movies

        for movies of rented
            
        