html
    head
        title   Register for Movie Rental 

        script
            include ../public/register.js

        style
            include ../public/register.css


    body
        #formDiv
            form#registForm
            
            input(placeholder="Enter Email",type="email", name="email")
            input(placeholder = "Enter Passoword",type="password",name="password",minLength=7)
            input(placeholder = "Enter Passoword",type="password",name="password",minLength=7)
        button#submitReg Choose Your Character