html
    head
        title   Register for Movie Rental 

        script
            include ../public/register.js

        style
            include ../public/register.css


    body
        
        #formDiv
            
            form.registForm
                h1 Register a New User
                input#email(placeholder="Enter a Email",type="email", name="email")
                input#password(placeholder = "Enter a Password",type="password",name="password",minLength=7)
                input#password(placeholder = "Confirm the Password",type="password",name="password",minLength=7)
                input#submitReg(type="button", value= "Register")
                input#cancelReg(type="button", value="Cancel")