html
    head
        title   Register a New User
        script
            include ../public/register.js

        style
            include ../public/register.css


    body
        
        #formDiv
            
            form.registForm
                h1 Register a New User
                label.lables Enter Username
                input#email(placeholder="Enter a Username",type="text", name="username")
                label.lables Enter Email
                input#email(placeholder="Enter a Email",type="email", name="email")
                label.lables Enter Password
                input#password(placeholder = "Enter a Password",type="password",name="password",inLength=7)
                label.lables Confirm Password
                input#conpass(placeholder = "Confirm the Password",type="password",name="conpass",minLength=7)
                input#submitReg(type="button", value= "Register")
                input#cancelReg(type="button", value="Cancel")
                h5#passMsg(style="display:none")