html
    head 
        title= titleVar

        body
            h1= message

            form
                label(for="email") Enter a User Email:
                input(type="email", name="email")
                label(for="password") Enter Password:
                input(type="password")
            
            