include ./mixins/naviBar.pug
    
html
    head

        title Graphic Cards DB

        style
            include ../static/home-page.css

        script
            include ../static/home-page.js
            include ./mixins/navi-bar-script.js

    body
        
        +navi-bar

        header 
            h1 Graphics Processing Unit Database
            h5 Make a search bar function lmao
                //-access to naviBar.pug but not an instance
        

        //- button#postRoute Post A GPU
        //- button#dbRoute GPU Database


