body {
    background-color:rgba(57, 88, 102, 0.534);
    color:white;
    text-align: center;
    justify-content: center;
    background-image: url("postbg.jpg");
}

#postForm {
    margin-left:25%;
    margin-right:25%;
    margin-top:2.5%;
    background-color:rgba(238, 247, 165, 0.25);
    display:flex;
    flex-direction: column;

}

#postForm input {
    text-align: center;
    color:lightpink;
    background-color:#222;
    border: dotted;
    font-size:large;

    margin-bottom:1%;
    margin-top:1%;
    margin-left:5%;
    margin-right:5%;
}
.naviBar {
    overflow: hidden;
    background-color: rgba(255, 192, 203, 0.438);
    text-align: center;
    max-width:85%;
    margin: 0 auto;
}
.naviBar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 7px 8px;
    text-decoration: pink;
}
.naviBar a:hover {
    background-color: lightpink;
    color: white;
}

.naviBar .search-container input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
